<section>
    <div class="best-leader-title">Best Leader </div>
    <div class="section-body">
        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column best-leader-header">
                        <img class="best-leader-review-img" src="/img/ceo.jpg">
                        <h3 class="ui header best-leader-header">
                            잡스님의 수업을 듣고 많이 발전했어요!<br> -김흥부님</h3>
                        <p>자바스크립트를 공부하면서 많이 힘들었는데 잡스님의 수업을듣고 많은 발전을했습니다.</p>
                        <img class="best-leader-review-img" src="/img/MarkZuckerberg.jpg">
                        <h3 class="ui header best-leader-header">
                            잡스님 수업을 꼭 들어보세요 <br> - 김놀부</h3>
                        <p>정말 유익하고 재미있었어요. 코딩실력이 정말 많이 늘었습니다.</p>
                    </div>
                    <div class="six wide right floated column">
                        <img src="/img/jobs.jpg" class="ui large bordered rounded image">
                    </div>
                </div>
                <div class="row">
                    <div class="center aligned column">
                        <a class="ui huge button">진행중인 수업 알아보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
