<div class="section-body statistic-body">
    <div class="statistic-title">
        그동안 <span class="point"> 여러분</span>의 성원에 힘입어<br>
        코딩스터디가 누적회원수 <span class="point"> 45,000명 </span>을 달성하였습니다.<br>
        앞으로도 코딩교육을 위해 앞장서는 코딩스터디가 되겠습니다.<br>
    </div>
    <div class="ui horizontal statistics statistic-section">
        <div class="statistic">
            <div class="value">
                45,000
            </div>
            <div class="label">Visning </div>
        </div>
        <div class="statistic">
            <div class="value">
                40,000
            </div>
            <div class="label">Sign </div>
        </div>
        <div class="statistic">
            <div class="value">
                10,000
            </div>
            <div class="label">Stduy </div>
        </div>
        <div class="statistic">
            <div class="value">
                300
            </div>
            <div class="label">Leader </div>
        </div>
    </div>
    <iframe class="movie" width="950" height="500" src="https://www.youtube.com/embed/5g7JMXLlOrY" frameborder="0" gesture="media" allowfullscreen></iframe>
</div>
