
<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="ContactUs.html" class="item">Contact Us</a>
                    <a href="Service-terms.html" class="item">이용 약관</a>
                    <a href="private-terms.html" class="item">개인정보 취급 방침</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Services</h4>
                <div class="ui inverted link list">
                    <a href="Email-talk.html" class="item">상담 받기</a>
                    <a href="leader-wanted.html" class="item">리더신청</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">CUSTOMER CENTER</h4>
                <p>코딩스터디 고객센터</p>
                <p>1577-1533</p>
                <p>Email : codingStudy@cs.com</p>
                <p>평일 10:00 - 22:00</p>
                <p>주말 10:00 - 19:00</p>
            </div>
            <div class="button-section">
                <button class="ui circular facebook icon button ">
                    <i class="facebook icon"></i>
                </button>
                <button class="ui circular twitter icon button">
                    <i class="twitter icon"></i>
                </button>
                <button class="ui circular linkedin icon button">
                    <i class="linkedin icon"></i>
                </button>
                <button class="ui circular google plus icon button">
                    <i class="google plus icon"></i>
                </button>
            </div>
        </div>
    </div>
</div>

