<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include view/script.ejs%>
    <title><%= title %></title>
</head>
<body>
  <% include view/header.ejs %>
    <!-- 베스트리더 섹션 -->
   <% include ./best-leader.ejs %>
<secion>
    <!-- 진행중인 스터디 섹션-->
   <% include ./ing-study.ejs %>
</secion>
    <!-- 스터디광고 및 동영상 섹션 -->
  <% include view/Counting.ejs %>
    <!-- 리더를 모집합니다 -->
  <% include view/leader-AD.ejs %>

</body>
  <% include view/footer.ejs %>
</html>
