<div class="section-body ing-study-body">
    <div class="ing-study-title">현재 진행중인 스터디</div>
    <div class="ing-study" data-tooltip="입문자용 추천" data-position="top left" data-inverted="">
        <div class="ui raised link card ing-study ing-study" >
            <div class="content">
                <div class="header">Node.js</div>
                <div class="meta">
                    <span class="category">Tony의 초급반</span>
                </div>
                <div class="description">
                    <img src="/img/node%20(1).png">
                </div>
            </div>
            <div class="extra content">
                <div class="right floated author">
                    입문부터 고급까지
                    <img class="ui avatar image" src="/img/tony.jpg"> Tony </div>
            </div>
        </div>
    </div>
    <div class="ing-study" data-tooltip="입문자용 추천" data-position="top left" data-inverted="">
        <div class="ui raised link card ing-study ing-study">
            <div class="content ">
                <div class="header">Node.js </div>
                <div class="meta">
                    <span class="category">Tony의 초급반</span>
                </div>
                <div class="description">
                    <img src="/img/node%20(1).png">
                </div>
            </div>
            <div class="extra content">
                <div class="right floated author">
                    입문부터 고급까지
                    <img class="ui avatar image" src="/img/tony.jpg"> Tony </div>
            </div>
        </div>
    </div>

    <div class="ing-study" data-tooltip="입문자용 추천" data-position="top left" data-inverted="">
        <div class="ui raised link card ing-study ing-study">
            <div class="content ">
                <div class="header">Node.js</div>
                <div class="meta">
                    <span class="category">Tony의 초급반</span>
                </div>
                <div class="description">
                    <img src="/img/node%20(1).png">
                </div>
            </div>
            <div class="extra content">
                <div class="right floated author">
                    입문부터 고급까지
                    <img class="ui avatar image" src="/img/tony.jpg"> Tony </div>
            </div>
        </div>
    </div>
    <div class="ing-study" data-tooltip="입문자용 추천" data-position="top left" data-inverted="">
        <div class="ui raised link card ing-study ing-study">
            <div class="content ">
                <div class="header">Node.js</div>
                <div class="meta">
                    <span class="category">Tony의 초급반</span>
                </div>
                <div class="description">
                    <img src="/img/node%20(1).png">
                </div>
            </div>
            <div class="extra content">
                <div class="right floated author">
                    입문부터 고급까지
                    <img class="ui avatar image " src="/img/tony.jpg"> Tony </div>
            </div>
        </div>
    </div>


    <div class="ing-study" data-tooltip="입문자용 추천" data-position="top left" data-inverted="">
        <div class="ui raised link card ing-study ing-study">
            <div class="content ">
                <div class="header">Node.js</div>
                <div class="meta">
                    <span class="category">Tony의 초급반</span>
                </div>
                <div class="description">
                    <img src="/img/node%20(1).png">
                </div>
            </div>
            <div class="extra content">
                <div class="right floated author">
                    입문부터 고급까지
                    <img class="ui avatar image" src="/img/tony.jpg"> Tony </div>
            </div>
        </div>
    </div>
    <div class="ing-study" data-tooltip="입문자용 추천" data-position="top left" data-inverted="">
        <div class="ui raised link card ing-study ing-study">
            <div class="content ">
                <div class="header">Node.js</div>
                <div class="meta">
                    <span class="category">Tony의 초급반</span>
                </div>
                <div class="description">
                    <img src="/img/node%20(1).png">
                </div>
            </div>
            <div class="extra content">
                <div class="right floated author">
                    입문부터 고급까지
                    <img class="ui avatar image" src="/img/tony.jpg"> Tony </div>
            </div>
        </div>
    </div>
</div>
