<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/Semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="../public/css/leader-introduce.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="../public/Semantic/semantic.js"></script>
    <script src="../public/Semantic/themes/default/assets/library/jquery.min.js"></script>
    <script src="../public/Semantic/components/visibility.js"></script>
    <script src="../public/Semantic/components/sidebar.js"></script>
    <script src="../public/Semantic/components/transition.js"></script>
    <script src="../public/js/Main.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=s8FcRqKL2xmkynDTkTgi&submodules=geocoder"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../public/css/Main.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../public/Semantic/components/reset.css">
    <link rel="stylesheet" type="text/css" href="../public/Semantic/components/site.css">
    <link rel="stylesheet" type="text/css" href="../public/Semantic/components/container.css">
    <link rel="stylesheet" type="text/css" href="../public/Semantic/components/grid.css">
    <link rel="stylesheet" type="text/css" href="../public/Semantic/components/header.css">
    <link rel="stylesheet" type="text/css" href="../public/Semantic/components/image.css">
    <link rel="stylesheet" type="text/css" href="../public/Semantic/components/menu.css">
    <link rel="stylesheet" type="text/css" href="../public/Semantic/components/divider.css">
    <link rel="stylesheet" type="text/css" href="../public/Semantic/components/dropdown.css">
    <link rel="stylesheet" type="text/css" href="../public/Semantic/components/segment.css">
    <link rel="stylesheet" type="text/css" href="../public/Semantic/components/button.css">
    <link rel="stylesheet" type="text/css" href="../public/Semantic/components/list.css">
    <link rel="stylesheet" type="text/css" href="../public/Semantic/components/icon.css">
    <link rel="stylesheet" type="text/css" href="../public/Semantic/components/sidebar.css">
    <link rel="stylesheet" type="text/css" href="../public/Semantic/components/transition.css">
    <title>CodingStudy</title>
</head>
<body>

<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="item" href="../node_modules/index.html">Home</a>
        <a class="item" href="review.html">Review</a>
        <a class="item" href="leader-introduce.html">Leader</a>
        <a class="item" href="ing-study.ejs">Study</a>
        <div class="right menu">
            <div class="item ui-button">
                <a class="ui button" href="loginForm.html">Log in</a>
            </div>
            <div class="item ui-button">
                <a class="ui primary button" href="Signup.html">Sign Up</a>

            </div>
            <div class="top-sns-button">
                <button class="ui circular facebook icon button ">
                    <i class="facebook icon"></i>
                </button>
                <button class="ui circular twitter icon button">
                    <i class="twitter icon"></i>
                </button>
                <button class="ui circular linkedin icon button">
                    <i class="linkedin icon"></i>
                </button>
                <button class="ui circular google plus icon button">
                    <i class="google plus icon"></i>
                </button>
            </div>
        </div>
    </div>

</div>


<div class="ui vertical inverted sidebar menu">
    <a class="item" href="../node_modules/index.html">Home</a>
    <a class="item" href="review.html">Review</a>
    <a class="item" href="leader-wanted.html">Leader</a>
    <a class="item" href="ing-study.ejs">Study</a>
    <a class="item" href="loginForm.html">Login</a>
    <a class="item" href="Signup.html">Signup</a>
    <div class="top-sns-button">
        <button class="ui circular facebook icon button ">
            <i class="facebook icon"></i>
        </button>
        <button class="ui circular twitter icon button">
            <i class="twitter icon"></i>
        </button>
        <button class="ui circular linkedin icon button">
            <i class="linkedin icon"></i>
        </button>
        <button class="ui circular google plus icon button">
            <i class="google plus icon"></i>
        </button>
    </div>
</div>


<!-- 페이지 상단 메뉴부분 -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment" id="photo">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">

                <a class="item">Home</a>
                <a class="item">review</a>
                <a class="item">Leader</a>
                <a class="item">Study</a>
                <div class="right item button-ui">
                    <a class="ui inverted button" id="button-ui" href="loginForm.html">Log in</a>
                    <a class="ui inverted button" href="Signup.html">Sign Up</a>

                </div>
                <div class="top-sns-button">
                    <button class="ui circular facebook icon button ">
                        <i class="facebook icon"></i>
                    </button>
                    <button class="ui circular twitter icon button">
                        <i class="twitter icon"></i>
                    </button>
                    <button class="ui circular linkedin icon button">
                        <i class="linkedin icon"></i>
                    </button>
                    <button class="ui circular google plus icon button">
                        <i class="google plus icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


            <div class="leader-page-body">
                <div class="leader-title-section">
                <h2 class="featurette-heading">해외에서 Node.js 실무경력 8년! <br><span class="text-muted">김잡스 스터디와 실력증진</span></h2>

                <div> <img class="leader-profile" src="../public/img/Avatar.png">
                    <div id="leader-name">이름  :  <span>Jobs</span></div>
                    <div id="leader-skill">전문과목 : <span>Node.js / JavaScript</span>
                        <div id="leader-year">주 경력 : <span>애플에서 8년동안 근무</span></div>
                    </div>
            </div>
                </div>
                <div class="section-line"></div>
                <h2 class="best-leader-title" >스터디소개</h2>
                <div class="leader-introduce-title">
                    Hey this is JP. Nice to meet you all.
                </div>

                <div class="leader-introduce">
                    Hey this is JP. Nice to meet you all.
                    안녕하세요! 저는 홍콩에서 온 김재평, JP라고 합니다. :) 외국계 금융회사인 모건 스탠리Morgan Stanley에서 근무하다가 한국에 오게 되었어요!

                    저는 중학교 이후 캐나다에서의 유학생활을 시작으로 북경에서 고등학교를, 홍콩에서 대학교를 다녔어요 ㅎㅎ. 그만큼 다양한 문화권의 사람들과 자유롭게 소통하는 자세를 갖추게 되었답니다! 특히 저는 아시아의 금융허브- 홍콩에서의 업무 경험도 있기 때문에 다방면으로 여러분들을 도와드릴 수 있을 거라 자부해요.

                    영어로 말하는 거 힘드시죠?! ㅠㅠ 저도 그다지 이르지 않은 나이에 유학을 시작했기에 영어를 배우는 고충 역시 이해하고 있습니다.

                    저는 수업을 하면서~ 영어는 파란색 눈의 백인들만 하는 언어라는 편견을 없애드리고 싶어요! 영어는 이제 전세계 만인의 언어이고, 한국인으로써 영어를 배우는데 있어 무조건 서양의 모든 것을 카피할 필요는 없답니다!

                    저는 취미로 특히 음악을 좋아하구요~ 그외에 글쓰기, 영화 , 사진 등 문화 전반적인 모든 방면에 관심이 많아요 :) 저와 여러분들은 단순히 딱딱한 선생님-학생의 관계가 아니라 친구처럼 편안하게 교류했으면 좋겠습니다!

                    언어는 머리만 지끈지끈거리는 학문이 아니라, "입"으로 소통하는 수단입니다. 저와 함께 재미있게 소통하다보면~ 영어의 두려움을 극복하고 , 한껏 발전한 영어실력을 몸소 느끼시게 될 거에요 ㅎㅎ

                    같이 신나는 시간 보내봐요~ Let's get it !!
                </div>
                <button id="invite-button" class="ui grey basic button ">참여 신청하기</button>



                <h5>[ 진행 방식 ]</h5>


                <p class="leader-introduce">우리가 처음 한국어를 익힐 때처럼 일상생활 하듯 수다를 떨고 시행착오를 겪으며 코딩 익히는 것이 목적이에요.<br>
                <h4>1. How was your week?</h4> <br>
                일주일 동안 어떻게 지냈는지, 지난 주말에는 무얼 하며 보냈는지 이야기를 한 주 동안의 제작한 프로젝트를 소개하며 스터디를 시작해요.<br>
                <br>
                <h4> 2. Project </h4><br>
                본인이 가져온 ‘그날의 프로그램’ 혹은 ‘그날의 앱’를 함께 보거나 찾아보고 배워보는 시간입니다.<br>
                <br>
                <h4> 3. Let’s talk!</h4><br>
                그 날의 주제와 관련된 질문들에 대답하는 시간을 가지며 유용한 코딩을 익혀봐요.<br>
                예를 들어 주제가 영화관련앱이라 한다면,<br>
                가장 최근에 사용한 영화앱의 구조를 살펴봅니다.<br>
                앱 내에서 가능한 최신 소트프웨어를 통해 편하게 코딩할 수 있게 계속 도와 드릴께요.<br>
                <br>
                <h4>4. Q&A</h4><br>
                스터디시간에 미처 하지 못했던 질문을 마지막에 받겠습니다. 그 날 공부하며 궁금했던 점, 혹은 평소 코딩 하며 궁금했던 것들 모두 부담없이 물어 봐 주세요.<br>
                <br>
                저의 가장 큰 역할은 재미있게 코딩 할 수 있는 환경을 만들어 드리는 것이라고 생각해요. 틀리는 것에 부끄러워하지 않고 자신 있게 개발 할 수 있도록 우리 모두 노력해봅시다! </p><br>


                <div class="section-line"></div>
                <h2 class="best-leader-title" >스터디 장소</h2>
                <ul class="leader-study-info">
                    <li class="st-info-location">
                        지    역 :  <span>건대</span>
                    </li>
                    <li class="st-info-memeber">
                        인    원 : <span>최대 6인</span>
                    </li>
                    <li class="st-info-study">
                        일    정 : <span>2달 주 2회</span>
                    </li>
                    <li class="st-info-rent">
                        장소비 : <span>포함</span>
                    </li>
                    <li class="st-info-time">
                        시    간 :  <span>금요일 19 : 00 -  21 : 00 (10월31일 첫스터디 시작)</span>
                    </li>
                </ul>
            </div>



</body>


<div class="ui inverted vertical footer segment">

    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="ContactUs.html" class="item">Contact Us</a>
                    <a href="Service-terms.html" class="item">이용 약관</a>
                    <a href="private-terms.html" class="item">개인정보 취급 방침</a>
                    </div>
                      </div>

                        <div class="three wide column">
                            <h4 class="ui inverted header">Services</h4>
                              <div class="ui inverted link list">
                                <a href="Email-talk.html" class="item">상담 받기</a>
                                <a href="leader-wanted.html" class="item">리더신청</a>
                              </div>
                       </div>

            <div class="seven wide column">
                <h4 class="ui inverted header">CUSTOMER CENTER</h4>
                <p>코딩스터디 고객센터</p>
                <p>1577-1533</p>
                <p>Email : codingStudy@cs.com</p>
                <p>평일 10:00 - 22:00</p>
                <p>주말 10:00 - 19:00</p>
            </div>

            <div class="button-section">
                <button class="ui circular facebook icon button ">
                    <i class="facebook icon"></i>
                </button>
                <button class="ui circular twitter icon button">
                    <i class="twitter icon"></i>
                </button>
                <button class="ui circular linkedin icon button">
                    <i class="linkedin icon"></i>
                </button>
                <button class="ui circular google plus icon button">
                    <i class="google plus icon"></i>
                </button>
            </div>
        </div>
    </div>
</div>

