<section>
    <div class="leader-wanted">
        <div class="ui vertical stripe segment ">
            <div class="ui text container leader-wanted">
                <div class="header-section"><span class="study-leader">코딩스터디의 리더</span>가 되어주세요.
                    <div class="leader-wanted-focus">내가 편한시간 지역등을 골라 스터디를 진행할 수 있습니다. 리더가되어 코딩을 배우기 시작한 사람들을 성장시켜주세요. 코딩스터디에서 드리는 좋은 혜택을 통해 한단계 더 성장하실 수 있습니다.</div>
                    <img class="leader-wanted-img" src="/img/code-2558220_1920.jpg">
                    <a href="../leader-wanted.ejs" class="ui large button">리더 신청하기</a>
                </div>
            </div>
        </div>
    </div>
</section>
